@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to reset some default browser styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0; /* Set a default background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Additional styles for layout */
#root {
  height: 100vh; /* Ensure the root element takes the full viewport height */
}

/* Ensure the app container takes the full height */
#root > div {
  height: 100%;
}
